/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
}
#left, #middle, #right{
  width: 33%;float: left;
}

#left {
  background: #666;
}

#middle {
  background: #888;
}

#right {
  background: #666;
}

.clearfix::after{
  content: " ";
  display: block;
  clear: both;
}

#full {
  background: #eee;
  margin-top: 20px;
}

#division {
  background: #6ea3da;
}

aside {
  background: #fff;
  width: 20%; 
  float: left;
  height: 150px;
}

footer {
  background: #ccc; 
}
